.main
  .main__message-top
    .main__message-top__box
      .main__message-top__box__left
        %p.main__message-top__box__left__group-name
          test
        %p.main__message-top__box__left__member-name
          Menber:masa
      .main__message-top__box__right
        = link_to "", class:"main__message-top__box__right__a" do
          edit

  .main__message-list
    .main__message-list__box
      .uppaer-info
        %p.uppaer-info__talker
          masa
        %p.uppaer-info__date
          2019/11/20(wed) 17:43:01
      %p.message-text
        おはよう！
    .main__message-list__box    
      .uppaer-info
        %p.uppaer-info__talker
          masa
        %p.uppaer-info__date
          2019/11/20(wed) 17:43:34
      %p.message-text
        今日は夜から雨

  .main__message-form
    %form.new_message
      .input-box
        %input{type:"text", class:"input-box__text", placeholder:"type a message"}
        %label{class:"input-box__image"}
          =icon("fas", "image")
          %input{type:"file",class:"input-box__image__file"}
      %input{type:"submit",class: "submit-btn"}